{% load i18n humanize %}

{% if multiple %}
    <h2><a href="{% url 'blog:detail' object.slug %}">{{ object.title }}</a></h2>
{% else %}
    <h2>{{ object.title }}</h2>
{% endif %}

<p class="lead"> by <a href="{% url 'blog:filter' 'user' object.posted_by.username %}">{{ object.posted_by.get_full_name }}</a></p>
<p><span class="glyphicon glyphicon-time"></span> Posted {{ object.posted_on|naturaltime }}</p>
<hr>
{% if multiple %}
    <p>{{ object.content|truncatewords_html:50 }}</p>
    <a class="btn btn-primary btn-xs" href="{% url 'blog:detail' object.slug %}">{% trans 'Read More' %} <span class="glyphicon glyphicon-chevron-right"></span></a>
{% else %}
    <p>{{ object.content }}</p>
{% endif %}