{% load i18n humanize %}

{% if multiple %}
    <h2><a href="{% url 'blog:detail' object.slug %}">{{ object.title }}</a></h2>
{% else %}
    <h2>{{ object.title }}</h2>
{% endif %}

<p class="lead"> by
    <a href="{% url 'blog:filter' 'user' object.posted_by.username %}">{{ object.posted_by.get_full_name }}</a></p><p>
    <span class="glyphicon glyphicon-time"></span> Posted {{ object.posted_on|naturaltime }}
    {% if multiple %}
        |<a href="{% url 'blog:detail' object.slug %}#comments">
        {% blocktrans with count=object.comments.count plur=object.comments.count|pluralize %}{{ count }} comment{{ plur }}{% endblocktrans %}</a>
    {% endif %}
</p>
<hr>
{% if multiple %}
    <p>{{ object.content|truncatewords_html:50 }}</p>
    <a class="btn btn-primary btn-xs" href="{% url 'blog:detail' object.slug %}">{% trans 'Read More' %}
        <span class="glyphicon glyphicon-chevron-right"></span></a>
{% else %}
    <p>{{ object.content|linebreaks }}</p>
    <hr />
    {% if user.is_authenticated %}
        <div class="well" id="comments">
            <h4>{% trans 'Leave a Comment' %}:</h4>

            <form role="form" action="{% url 'blog:add-comment' object.slug %}" method="POST">{% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="text"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            </form>
        </div>
    {% else %}
        <div class="well" id="comments">
            {% url 'blog:login' as login_url %}
            <h4>{% blocktrans with login_url=login_url %} You must <a href="{{ login_url }}">login</a> before being able to comment. {% endblocktrans %}</h4>
        </div>
    {% endif %}
    {% for comment in object.comments.all %}
        <div class="media">
            <a class="pull-left" href="#"> <img class="media-object" src="http://placehold.it/64x64" alt=""> </a>
            <div class="media-body">
                <h4 class="media-heading">{{ comment.posted_by.get_full_name }}
                    <small>{{ comment.posted_on|naturaltime }}</small>
                </h4>
                {{ comment.text }}
            </div>
        </div>

    {% endfor %}
{% endif %}